<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
<head>
<title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
</head>
    <body>
        <div class="about">
            <section>
                <h1>About</h1>
                <p>People will always have an opinion. Understanding that they're entitled to their own thoughts is an important step in moving passed any fear of being judged. If you are highly impacted by what others think about you, it's time to take a look at your own self-esteem and confidence. We know - it's hard stuff, but trust us, once you're able to come to terms with how you genuinely feel about yourself, you can begin to work on the areas you don't feel satisfied with.</p>
                <h4>Some Random Text</h4>
                <p>Integer in augue tortor. Donec tincidunt sit amet ligula vestibulum dignissim. Maecenas varius erat sem, in eleifend ex vestibulum quis. Ut eget augue id tellus aliquet pharetra. Pellentesque vitae ex vel enim laoreet dignissim. Praesent tristique fermentum orci id rutrum. Sed vitae nisi tristique, aliquam nisl nec, aliquet nisi. Nam molestie turpis accumsan orci molestie, ut elementum ligula gravida. Proin eu nulla sit amet erat aliquam dapibus dictum at felis. Duis id est vel velit viverra blandit vel in felis.</p>
            </section>
        </div>
    </body>
</html>