<% provide(:title ,'Bookmark lists')%>

<div class = "left container">
    <h1>Bookmarks</h1>
    <%= render partial: 'bookmarklists/bookmarklist' , id: "#bookmarks" ,locals: {bookmarklist: @bookmarklist}  %>
</div>

<div class="right container">
    <%= render 'bookmarklists/bookmark_form' %>
</div>
