@import "bootstrap-sprockets";
@import "bootstrap";

$light-gray : #777;
$gray-medium-light: #eaeaea;
$gray : #555;
$gray-darker : #222 ;

body {
    padding-top: 80px;
}

section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

.center {
    text-align: center;
    h1 {
        margin-bottom: 10px;
    }
}


/* Adding CSS for nice typography*/

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: $light-gray;
}

p {
    font-size: 1.1em;
    line-height: 1.7em;
}

#logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
    &:hover {
        color: #fff;
        text-decoration: none;
    }
}


/* for footer */

footer {
    
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid $gray-medium-light;
    color: $light-gray;
    
    a {
        color: #555;
        &:hover {
            color: #222;
        }
    }
    
    
    small {
        float: left;
    }
    
    ul {
        float: right;
        list-style: none;
        li {
            float: left;
            margin-left: 15px;
        }
    }
}

@mixin box_sizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
    @include box_sizing;
    -moz-box-sizing:border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/* sidebar */
aside {
    section.user_info {
        margin-top: 20px;
    }
    
    section {
        padding: 10px 0;
        margin-top: 20px;
        &:first-child {
        border: 0;
        padding-top: 0;
        }
    
        span {
            display: block;
            margin-bottom: 3px;
            line-height: 1;
        }
        
        h1 {
            font-size: 1.4em;
            text-align: left;
            letter-spacing: -1px;
            margin-bottom: 3px;
            margin-top: 0px;
        }
    }
}

.gravatar {
    float: left;
    margin-right: 10px;
}

.gravatar_edit {
    margin-top: 15px;
}

.stats {
    overflow: auto;
    margin-top: 0;
    padding: 0;
    a {
        float: left;
        padding: 0 10px;
        border-left: 1px solid $gray-lighter;
        color: gray;
        &:first-child {
            padding-left: 0;
            border: 0;
        }
        &:hover {
            text-decoration: none;
            color: blue;
        }
    }
    strong {
        display: block;
    }
}

.user_avatars {
    
    overflow: auto;
    margin-top: 10px;
    
    .gravatar {
        margin: 1px 1px;
    }
    
    a {
        padding: 0;
    }
}

.users.follow {
    padding: 0;
}

input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
    @include box_sizing;
}

input {
    height: auto !important;
}

#error_explanation {
    color: red;
    ul {
    color: red;
    margin: 0 0 30px 0;
    }
}

.field_with_errors {
    @extend .has-error;
    .form-control {
    color: $state-danger-text;
    }
}

@media (max-width: 800px) {
    footer {
        small {
            display: block;
            float: none;
            margin-bottom: 1em;
        }
        ul {
            float: none;
            padding: 0;
            li {
                float: none;
                margin-left: 0;
            }
        }
    }
}


.checkbox {
    margin-top: -10px;
    margin-bottom: 10px;
    span {
        margin-left: 20px;
        font-weight: normal;
    }
}
    
#session_remember_me {
    width: auto;
    margin-left: 0;
}

.users {
    list-style: none;
    margin: 0;
    li {
        overflow: auto;
        padding: 10px 20px;
        border-bottom: 2px solid $gray-lighter;
        border-radius: 10px;
    }
}


.microposts {
    list-style: none;
    padding: 0;
    
    .post-li {
        padding: 10px 10px;
        border-bottom: 1px solid #e8e8e8;
        border-radius: 12px;
        a{
            .gravatar{
                border-radius: 10px;
            }
        }
    }
    
    .user {
        margin-top: 5em;
        padding-top: 0;
    }
    
    .content {
        display: block;
        margin-left: 60px;
        img {
            display: block;
            padding: 5px 0;
        }
    }
    
    
    .gravatar {
        float: left;
        margin-right: 10px;
        margin-top: 5px;
    }
    .dropdown{
        display:inline;
        .dropdown-toggle{
            border: none;
            background-color: whitesmoke;
        }
    }
    margin: 0vh 1vw;
}

.timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
}

aside {
    textarea {
        height: 100px;
        margin-bottom: 5px;
    }
}

span.image {
    margin-top: 10px;
    input {
        border: 0;
    }
}

.text-danger{
    color:#494545b9;
}

.list-group-item{
    border: none;
    text-align: left;
}

.bookmarklist , .bookmarklist-form{
    margin: 0 25vw;
}

.marked{
    background-color: rgb(63, 63, 63);
}

.homepage-background{
    width:fit-content;
}

.home{
    position: relative;
    height: 80vh;
    background-color: #c0d1e4;
    border-radius: 25vh !important ;
}

.absolute-center-top{
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%, 20px);
}

.absolute-center-bottom{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -8%);
}

.logo{
    margin-right: 1vw;
    width: 7vh;
}

#logo{
    text-transform: none;
}

.about{
    text-align:justify;
    margin: 5vh auto;
    section{
        background-color: #c0d1e4;
        border-radius: 25vh;
        padding: 6vh 12vw;
    }
    p , h4{
        margin: 2vh 5vw;
    }
}
.signup{
    padding: 5vh 17vw 15vh 17vw;
    background-color: #c0d1e4;
    border-radius: 25vw;
}

.signup-image{
    position: absolute;
    top: 24vh;
    left: 7vw;
    width: 30vw;
}

.login{
    margin: 0 20vw;
    padding: 5vh 7vw 10vh 7vw;
    background-color: #c0d1e4;
    border-radius: 25vw;
}

.savedpost-dropdown{
    border: none;
    margin-top: 4px;
    padding: 0px;
    transform: translate(-5vw,0);
    li{
        padding: none;
        border: none;
        form{
            .submit{
                padding: 0px 1px;
                text-align: left;
                margin: 0px;
                width: -webkit-fill-available;
                border: none;
            }
        }
    }
}

.float-r{
    float: right;
}

.float-l{
    float: left;
}

.mr-05{
    margin-right: 0.5vw;
}

.right{
    padding: 1vh;
    width: 36%;
    float: right;
}

.left{
    padding: 1vh;
    float: left;
    width: 60%;   
    border-right: 1px solid #bbb;
    h1{
        display: inline-block;
        margin-left: 18vw;
        margin-top: 1vh;
        padding: 8px;
        border-radius: 3px;
        margin-bottom: 1px;
        font-weight: bold;
    }
    li{
        border: 0.5px solid #bbb;
        margin: 2vh;
    }
}

.border-bottom{
    border-bottom: 1px;
}

.bookmark-length{
    color: rgb(14, 9, 9);
}

.width-50{
    width: 70%;
}

.grey{
    background-color: $gray-lighter;
}

.m-1vw{
    margin: 0 1%;
}

.bookmarkname{
    width: 200px;
}

.footer{
    position:fixe;
}

.width-100px{
    width: 100px;
}